body{
  background-color: #111;
  margin: 0;
  font-family: monospace;
  font-size: 1.25em;
}

div{
  color: #F50;
}

.logo {
  z-index: 2;
  position: fixed;
  top: 10px;
  left: 10px;
  height: 150px;

}
